// colors
$color-primary: #E92569;
$color-text-dark: #0A0A0A;
$color-text: #767676;
$color-white: #fff;
$color-background: radial-gradient(#fff, #e5e5e5);
$color-nav: #EFEFEF;

// typography
$font-body: "Lato", sans-serif;
$font-header: "Playfair Display", serif;

// bootstrap
$theme-colors: (
  "primary":    $color-primary,
  "light":      $color-nav,
  "dark":       $color-text-dark,
);

$input-border-width: 0;
$accordion-button-bg: #fff;
$accordion-button-color: $color-primary;
$accordion-border-radius: 15px;

@import "~bootstrap/scss/bootstrap";

@import "partials/home";
@import "partials/typography";
@import "partials/navbar";
@import "partials/layout";
@import "partials/tabs";
@import "partials/carousel";
@import "partials/accordion";

.btn-primary {
  background-color: $color-text;
  border: none;
  color: #fff;
}
