// colors
$color-primary: #E92569;
$color-text-dark: #0A0A0A;
$color-text: #767676;
$color-white: #fff;
$color-background: radial-gradient(#fff, #e5e5e5);

// typography
$font-body: "Lato", sans-serif;
$font-header: "Playfair Display", serif;

// bootstrap
$theme-colors: (
  "primary":    $color-primary,
  "light":      $color-white,
  "dark":       $color-text-dark,
);

@import "~bootstrap/scss/bootstrap";

@import "partials/navbar";
@import "partials/layout";
@import "partials/typography";

.btn-primary {
  background-color: $color-text;
  border: none;
  color: #fff;
}
