// colors
$color-primary: #E92569;
$color-text-dark: #0A0A0A;
$color-text: #767676;
$color-white: #fff;
$color-background: radial-gradient(#fff 0%, #e5e5e5 50%);
$color-nav: #EFEFEF;

// typography
$font-body: "Lato", sans-serif;
$font-header: "Playfair Display", serif;

// bootstrap
$theme-colors: (
  "primary":    $color-primary,
  "light":      $color-nav,
  "dark":       $color-text-dark,
);

$input-border-width: 0;
$accordion-button-bg: #fff;
$accordion-button-color: $color-primary;
$accordion-border-radius: 15px;
$pagination-color: $color-primary;
$pagination-border-color: $color-primary;
$pagination-active-color: $color-white;
$pagination-active-bg: $color-primary;
$pagination-padding-y: .5rem;
$pagination-padding-x: 1rem;
$card-border-radius: 12px;
$card-border-width: 0;
$card-spacer-x: 30px;
$form-check-input-bg: $color-primary;
$form-check-input-border: none;
$form-check-input-width: 1.8em;

@import "~bootstrap/scss/bootstrap";

@import "partials/costum";
@import "partials/typography";
@import "partials/home";
@import "partials/navbar";
@import "partials/layout";
@import "partials/news";
@import "partials/contact";


