.tab-content {
  background-color: white;
  padding: 1em;
  min-height: 271px;
  border-radius: 0 15px 15px 15px;
  box-shadow: 0 12px 14px rgba(0, 0, 0, 0.2);
  border: 1px solid #D1D1D1;
}

.nav-item .nav-link.active,
.nav-item .nav-link {
  color: $color-primary;
  border-radius: 12px 12px 0 0;
  min-width: 100px;
}

.nav-item .nav-link.active {
  color: $color-text;
  background-color: white;
  box-shadow: -10px -10px 14px -10px rgba(0, 0, 0, 0.2);
}
.nav-tabs {
  border-bottom: none;
}

.mb-3 {
  margin-bottom: 0 !important;
}

ul .nav-tabs {
  margin-bottom: 0;
}
